swagger: "2.0"
info:
  description: "A service for managing the customer’s preferences"
  version: "1.0.0"
  title: "XXXXXX"
  contact:
    name: "James Hurst"
    email: "james.hurst@bglgroup.co.uk"
externalDocs:
  description: "Source code & documentation"
  url: "https://github.com/ComparetheMarket/XXXXXX"
host: "XXXXXX-shadow.ctmers.io"
tags:
- name: healthcheck
  description: Endpoints that allow to review the state of the app
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /private/liveness:
    x-swagger-router-controller: health
    get:
      summary: "I'm up, don't kill me"
      operationId: ping
      tags:
      - "healthcheck"
      responses:
        200:
          description: "All OK"
        500:
          description: "Something's wrong"

  /private/readiness:
    x-swagger-router-controller: health
    get:
      summary: "I'm able to handle traffic, all my critical dependencies are ready too"
      operationId: health
      tags:
      - "healthcheck"
      responses:
        200:
          description: "All OK"
          schema:
            type: 'string'
        203:
          description: "Non-critical dependency down"
        500:
          description: "Something's wrong"
          schema:
            type: 'string'
        502:
          description: "Critical dependency down"
          schema:
            type: 'string'

  /getByDate:
    get:
      x-swagger-router-controller: "getByDate"
      tags:
      - "get-endpoints"
      summary: "Returns all reminders/docs for an account id sorted by action date and then alphabectically."
      operationId: "getByDate"
      security:
      - authenticatedUser:
        - openid
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "ctm-account-id"
        in: "header"
        required: false
        type: "string"
        pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
      responses:
        200:
          description: "Request successful, returning list of entries for a customer"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/displayItem"
        500:
          description: "Something’s wrong"

  /getByItem:
    get:
      x-swagger-router-controller: "getByItem"
      tags:
      - "get-endpoints"
      summary: "Returns all reminders/docs for an account id grouped by subject item"
      operationId: "getByItem"
      security:
      - authenticatedUser:
        - openid
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "ctm-account-id"
        in: "header"
        required: false
        type: "string"
        pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
      responses:
        200:
          description: "Request successful, returning list of entries for a customer"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/subjectItem"
        500:
          description: "Something’s wrong"

definitions:
  displayItem:
    type: "object"
    properties:
      id:
        required: true
        type: string
        format: uuid
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      entry:
        $ref: "#/definitions/entry"
      subject:
        $ref: "#/definitions/subject"

  subjectItem:
    type: "object"
    properties:
      id:
        required: true
        type: string
        format: uuid
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      entries:
        type: array
        items:
          $ref: "#/definitions/entry"
      subject:
        $ref: "#/definitions/subject"

  subject:
    type: object
    properties:
      id:
        required: true
        type: string
        format: uuid
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      type:
        required: true
        type: string
        enum:
        - 'vehicle'
        - 'building'
        - 'animal'
      vehicle:
        $ref: "#/definitions/vehicle"
      animal:
        $ref: "#/definitions/animal"
      building:
        $ref: "#/definitions/building"

  vehicle:
    type: object
    properties:
      id:
        required: true
        type: string
        format: uuid
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      type:
        required: true
        type: string
        enum:
        - 'car'
        - 'van'
        - 'bike'
      registration:
        required: true
        type: string
        pattern: 'XXXXX'
      description:
        type: string

  animal:
    type: object
    properties:
      id:
        required: true
        type: string
        format: uuid
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      type:
        required: true
        type: string
        enum:
        - 'cat'
        - 'dog'
      name:
        required: true
        type: string
      description:
        type: string

  building:
    type: object
    properties:
      id:
        required: true
        type: string
        format: uuid
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[4][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      line1:
        required: true
        $ref: "#/definitions/addressLine"
      line2:
        $ref: "#/definitions/addressLine"
      line3:
        $ref: "#/definitions/addressLine"
      line4:
        $ref: "#/definitions/addressLine"
      line5:
        $ref: "#/definitions/addressLine"
      line6:
        $ref: "#/definitions/addressLine"
      line7:
        $ref: "#/definitions/addressLine"
      line8:
        $ref: "#/definitions/addressLine"
      postcode:
        required: true
        type: string
        pattern: '^[a-zA-Z]{1,2}[0-9][0-9A-Za-z]?[\s]?[0-9][a-zA-Z]{2}$'

  addressLine:
    type: string
    additionalProperties: false
    pattern: "^[a-zA-Z0-9]{1}[a-zA-Z0-9\s()&'.\-,/]*$"
    maxLength: 100

  entry:
    type: object
    properties:
      id:
        type: unknown
      logo:
        $ref: '#/definitions/image'
      type:
        required: true
        type: string
        enum:
        - 'mot'
        - 'insurance'
        - 'document'
      price:
        $ref: '#/definitions/price'
      createdDate:
        type: date
      sortDate:
        type: date
      sortTitle:
        type: string
      link:
        type: uri

  image:
    type: object
    properties:
      link:
        type: uri
      description:
        type: string

  price:
    type: object
    properties:
      value:
        required: true
        type: decimal
      type:
        required: true
        type: string
        enum:
        - 'monthly'
        - 'yearly'

securityDefinitions:
  authenticatedUser:
    type: oauth2
    authorizationUrl: https://signin.comparethemarket.com/
    flow: implicit
    scopes:
      openid: allow a customer to read their own preferences
      openid:GET:/getAll: allow a customer to read their own preferences
  unauthenticatedUser:
    type: oauth2
    authorizationUrl: https://signin.comparethemarket.com/
    flow: implicit
    scopes:
      openid:POST:/preferences: allowed to register new preferences
  unsubscribeJwt:
    type: oauth2
    authorizationUrl: https://signin.comparethemarket.com/
    flow: implicit
    scopes:
      openid:GET:/tokens: allowed to read preferences when unsubscribing
      openid:POST:/tokens: allowed to write preferences when unsubscribing
